@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
:root {
    --overlay-background: rgba(6, 64, 43, 0.8);

    --overlay-caption-color: #80a53f;
    --overlay-content-background: linear-gradient(white, #43c56f);
    --warning-color: red;

    --button-color: #dd1313;
    --button-background: #a7acba;
    --button-background-hover: #606060;

    --input-background: #eee;
    --register-form-background: linear-gradient(#acff5f, #5c9f4a);

    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
}
* {
    font-family: "Abel", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic 
128 165 63
167 172 186
96 96 96
*/
body {
    min-width: 1075px;
    min-height: 675px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Flexbox related */
.row, .col {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    padding: 20px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-grow { flex-grow: 1; }
.less-padding {padding:10px;}

/* Top level container */
#container {
    position:absolute;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    /* background-color: rgba(6, 64, 43); */
    background-image: url(./image/Main_BG.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page{
    gap: 0px;
    padding: 0px; 
}

#waiting_page{
    display: none;
}

/* Title related - main page */
#title{
    width:100%;
    justify-content: center;
    position: relative;
    top:30px;
}

#title_text{
    font-size: 5em;
    color: greenyellow;
    font-weight: 600;
}

/* Greeting - main page */
#greeting {
    justify-content: center;
    position: relative;
    top: 60px;
}

#greeting_text {
    font-size:2.5em;
    color: #ff9a3b;
}

/* button related - main page */
#button_container{
    align-items: center;
    position:relative;
    top:90px;
}

#button_container button {
    font-size: 3em;
    margin: 30px 0px;
    font-weight: 600;
}

/* instruction overlay - main page */
#instruction-overlay {
    display: none;
    position: absolute;
    width:80vw;
    margin: 0px 10vw;
    background-color: rgba(200,200,200,0.9);
    padding:0px;
    height: 100vh;
    overflow-y:auto;
    z-index: 3;
}

#close {
    font-size: 2em;
    position: absolute;
    right:0px;
}

#game_background, #game_instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 3em;
}

#game_background_title, #game_instruction_title{
    font-size: 3em;
    align-self: center;
}

#game_background p , #game_instruction p{
    font-size: 22px;
    margin:0px;
    margin-bottom: 2em;
}

/* signin and register */

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.overlay .caption {
    font-size: 120%;
    color: var(--overlay-caption-color);
}
.overlay .content {
    background: var(--overlay-content-background);
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
input::placeholder, select {
    color: gray;
}
button {
    font-weight: bold;
    border: 1px solid black;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
    font-size: 2em;
}
button:hover {
    background: var(--button-background-hover);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Signin overlay */
#signin-form {
    width: 270px;
    align-self: stretch;
}
#register-form {
    width: 380px;
    background: var(--register-form-background);
    padding: 20px;
}

/* Signout panel */

#user-panel{
    position:absolute;
    z-index:2;
    display: block;
    padding:5px;
    width:100%;
}

#signout-button{
    float:right;
}

.online-player{
    font-size: 2em;
    color:white;
}

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

.field-content * {
    color: var(--field-color);
}

/* waiting page */
#waiting_message{
    width:100%;
    justify-content: center;
    position: relative;
    top:30px;
}

#queue{
    width:100%;
    justify-content: center;
    position: relative;
    top:80px;
}

#waiting_text{
    font-size: 5em;
    color: greenyellow;
    font-weight: 600;
}

#waiting_pos{
    font-size: 3em;
    color: #9effff;
}

#cancel-holder{
    width:100%;
    justify-content: center;
    position: relative;
    top:120px;
}

#cancel{
    font-size: 3em;
    margin: 30px 0px;
    font-weight: 600;
}